*, *::after,*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.center {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;  
}



img{ 
    max-width: 100%;  
}

ul{
    text-decoration: none;
    list-style: none;
}

.wallpaper-divider {
    padding-top: 2%;
    text-align:center;
    /*box-shadow: 0 1em 1em -1em rgba(0, 0, 0, .65);*/

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F4F3;
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.brand-title{
    font-size: 1.6rem;
    margin: .5rem;
}
.brand-title a{
    text-decoration: none;
    color:black;
}


.nav-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li{
    list-style: none;
    font-size: 20px;
    margin-right: 10px;
    
}

.nav-links li a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
  
}

.nav-links li:hover{
    background-color: #CACFD6;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 10px;
}
#logo{
    height: 19px;
}
.header{
    background-image: url(/assets/imgs/testL.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
 
}
.header-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding-top: 10px;
    height: 100%;
}

.header h2{
   display: none;
}
.big-link-1 {
    
    width: 150px;
    text-align: center;
    margin: 0 5px;
    padding: 14px 19px;
    background: #1F5294;
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    line-height: 22px;
    color: #fff;
    -moz-border-radius: 6px; 
    -webkit-border-radius: 6px; 
    border-radius: 6px;
}

            /*Main section*/
main{

    text-align: center;

} 
main .container{
    width: 100%;
    display: flex;
    justify-content:center;      
}

main .slider{
    display: flex;
    width: 90%;  
    justify-content: center;
    gap: 20px;
}

.slider > img{
    flex: 0 0 25%;
    justify-content: space-between;
    max-width: 25%;
    aspect-ratio: 16/9;
}   
.slider img{
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    
} 
.slider img:hover{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 3px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 3px;

} 


/*
.left {
    position: absolute;
    left: 0;
    display: none;
}

.right {
    position: absolute;
    right: 0;
    display: none;
}
.left:hover{
    background-color: red;
}


main .section-container{
    height: 90%;
    width: 95%;
    display: flex;
    justify-content:space-between;   
    background-color: red;
}


main .content{
    background-color: gray;
    width: 100%;
    
    
    max-width: 400px;
    height:266px;
    text-align: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}



main .content:hover{
    max-width: 400px;
    height:266px;
    text-align: center;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 3px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 3px;
}
*/

            /*Footer section*/

footer{
    background-color: #333;
    min-height: 300px;
    text-align: left;
}

footer .section-container{
    margin: 0 100px 0;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

footer .content{
    margin-top: 30px;
    width: 22%;
}

#info{
    margin: 0px 50px;
    color: rgb(182, 182, 182);
}

footer ul{
 
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 50px;
}

footer li{
    color: rgb(182, 182, 182);
    padding-top: 10px;
    
}
.poslodavci li{
    border-bottom: 2px solid #555;
}

footer h3{
    color: #F2F4F3;
}
footer h2{
    color: #F2F4F3;
}

.footer-paragrafs{
    margin: 0; 
}
.footer-paragrafs:hover{
    background-color: #555;
}

.icons{
    margin: 0px 4px;
}
.icons:hover{
    background-color: #555;
}




            /*Media section*/


@media (max-width: 1280px){
    .header{
        
    }
    footer .section-container{
        margin: 0;
    }
    footer .content{
        width: 24%;
    }
    footer ul{
        margin: 0px 0px;
    }
    #info{
        margin: 0px 0px;
    }
    footer h3{
        font-size: 16px;
    }
    footer h2{
        font-size: 14px;
    }
}
@media (max-width: 640px){
    .header{
       
    }
    main .slider{
        display: grid;    
        place-items: center;   
        justify-content: center;
        align-items: center;
        width: 98%;
        margin-bottom: 10px;
    }
    main .slider img{
        display: none;
    }
    main .slider img:first-child{
        display: flex;
    }
    .slider > img{
        flex: 0 0 25%;
        justify-content: space-between;
        max-width: 80%;
        aspect-ratio: 16/9;
    }   

    footer{
        margin-top: 10px;
    }

    footer .section-container{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    footer .content{
        width: 90%;
        margin: 0px 10px;
    }
}
@media (max-width: 420px){
    
    .toggle-button{
        display: flex;
    }
    
    .nav-links{
        display: none;
        width: 100%;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links ul{
        flex-direction: column;
        width: 100%;
    }

    .nav-links li{
        text-align: center;
    }

    .nav-links li a{
        padding: .5rem 1rem;
    }

    .nav-links.active{
        display: flex;
    }
    footer h3{
        font-size: 14px;
    }
    footer h2{
        font-size: 12px;
    }
    footer li{
        font-size: 12px;     
    }
    #info{
        font-size: 12px;   
    }
}
